<div class="search">
  <h1>Free Agent Search</h1>
  <p>
    Looking for the top tradable candidates in the NBA?
  </p>
  <label>search:</label>
  <input placeholder="Search for players" autofocus>
  <label class='formgroup'>by:
    <select>
      <option value="rank">Rank</option>
      <option value="name">Name</option>
      <option value="position">Position</option>
    </select>
  </label>
  <label class="formgroup">
    <input type="radio" name="direction" checked>
    ascending
  </label>
  <label class="formgroup">
    <input type="radio" name="direction" value="reverse">
    descending
  </label>
</div>
<ul class="playerlist">
    <% @players.each do |player| %>
  <li class="player cf" >
    <%= image_tag("#{player.image}.jpg", :alt => "Photo of #{player.name}") %>
    <div class="info">
      <h2><%= "\##{player.rank}, #{player.name}" %></h2>
      <h3><%= player.team.team_name %></h3>
      <h3>Position: <%= player.position %></h3>
    </div>
    </a>
  </li>
    <% end %>
</ul>
